@charset "UTF-8";
/* 全体のPadding指定　Bodyタグで使う */
.BodyWidth {
  padding          : 10px 20px 10px 20px; /* 左から順に、上、右、下、左 */
}

/* ナビのBottomMargin削除対応　ナビのulタグで使う */
.NavBottomReset {
  margin           : 0px 0px 5px 0px; /* 左から順に、上、右、下、左 */
}

/* エラーメッセージ用配色 */
.ErrorMessage {
  color            : #ff0000;
}

/* 通常メッセージ用配色 */
.NormalMessage {
  color            : #0000ff;
}

/* 見出し用 DIVタグで使う*/
.TitleBar {
  background-color : #9999ff;
  font-size        : 16px;
  line-height      : 21px;
  margin           : 0px 0px 0px 0px; /* 左から順に、上、右、下、左 */
  padding          : 2px 10px 2px 10px; /* 左から順に、上、右、下、左 */
  border-radius    : 5px 5px 5px 5px; /* 角の丸みの設定。左から順に、左上、右上、右下、左下 */
}

/* 入力フォームを囲う枠　DIVタグで使う */
.InputFormGroup {
  background-color : #eff7ff;
  margin           : 5px 0px 0px 0px; /* 左から順に、上、右、下、左 */
  padding          : 0px 10px 0px 10px; /* 左から順に、上、右、下、左 */
  border           : 1px solid #e3e3e3;
  border-radius    : 5px 5px 5px 5px; /* 角の丸みの設定。左から順に、左上、右上、右下、左下 */
}

/* 検索フォームを囲う枠　DIVタグで使う */
.SearchFormGroup {
  background-color : #eaffff;
  margin           : 5px 0px 0px 0px; /* 左から順に、上、右、下、左 */
  padding          : 0px 10px 0px 10px; /* 左から順に、上、右、下、左 */
  border           : 1px solid #e3e3e3;
  border-radius    : 5px 5px 5px 5px; /* 角の丸みの設定。左から順に、左上、右上、右下、左下 */
}

/* FieldsetのLegendで使うFontや位置の微調整　Legendタグで使う */
.FieldsetLegend {
  font-size        : 13px;
  line-height      : 21px;
  margin           : 0px 0px 0px 0px; /* 左から順に、上、右、下、左 */
  padding          : 0px 0px 0px 0px; /* 左から順に、上、右、下、左 */
}

/* 入力フォームをTableで制御する場合の、項目の位置調整　TDタグで使う */
.TDMarginPaddingSetting {
  margin           : 0px 0px 0px 0px; /* 左から順に、上、右、下、左 */
  padding          : 0px 5px 0px 5px; /* 左から順に、上、右、下、左 */
}

/* Formの項目の位置調整　Formタグで使う */
.FormMarginPaddingSetting {
  margin           : 2px 0px 2px 0px; /* 左から順に、上、右、下、左 */
  padding          : 0px 5px 0px 5px; /* 左から順に、上、右、下、左 */
}

/* 検索結果テーブルのデザイン　TABLEタグ、TRタグ、TDタグで使う */
.SearchResultTable {
  font-size        : 12px;
  background-color : #FFFFFF;
  margin           : 5px 2px 5px 2px; /* 左から順に、上、右、下、左 */
  padding          : 1px 5px 1px 5px; /* 左から順に、上、右、下、左 */
  border           : 1px solid #e3e3e3;
  border-radius    : 2px 2px 2px 2px; /* 角の丸みの設定。左から順に、左上、右上、右下、左下 */
}

/* ページング表示のデザイン　TABLEタグで使う */
.PagingTable ul li{
  font-size        : 12px;
  background-color : #FFFFFF;
  margin           : 0px 0px 0px 0px; /* 左から順に、上、右、下、左 */
  padding          : 0px 0px 0px 0px; /* 左から順に、上、右、下、左 */
  border           : none;
}

/* 検索結果テーブルのヘッダ列配色　THタグで使う */
.SearchResultHeader {
  background-color : #ffffcc;
  margin           : 5px 2px 5px 2px; /* 左から順に、上、右、下、左 */
  padding          : 1px 5px 1px 5px; /* 左から順に、上、右、下、左 */
  border           : 1px solid #e3e3e3;
  border-radius    : 2px 2px 2px 2px; /* 角の丸みの設定。左から順に、左上、右上、右下、左下 */
}

/* テーブル内項目を上揃えにしたい場合に使う　TDタグで使う */
.VAlignTop {
  vertical-align : top;
}

/* Marginをリセット　登録画面のTextarea、Labelに適用 */
.MarginReset {
  margin-top    : 2px;
  margin-bottom : 2px;
}

/* Marginをリセット　登録画面のTextboxに適用※Input書かないとbootstrapに優先順位負ける */
Input.MarginReset {
  margin-top    : 2px;
  margin-bottom : 2px;
}


/* 偶数行だけ背景色を変更 */
.EvenNumRowColor {
  background-color : #f4fff9;
}

/* 画像の拡大・縮小　IMGタグで使う */

img.imgscaling {
  -webkit-transition : 0.1s ease-in-out;
  -moz-transition    : 0.1s ease-in-out;
  -ms-transition     : 0.1s ease-in-out;
  -o-transition      : 0.1s ease-in-out;
  transition         : 0.1s ease-in-out;
  margin             : 0px 0px 0px 0px; /* 左から順に、上、右、下、左 */
}

img.imgscaling:hover {
  -webkit-transform  : scale(1.5,1.5);
  -moz-transform     : scale(1.5,1.5);
  -ms-transform      : scale(1.5,1.5);
  -o-transform       : scale(1.5,1.5);
  transform          : scale(1.5,1.5);
  margin             : 0px 0px 0px 150px; /* 左から順に、上、右、下、左　左150px取っているのは、画像が欄外に出ることの防止 */
}

/* 一覧のEntryForm表示制御用 */
input[type="checkbox"].ExpandCheckBox {
  display          : none;
}
 
input[type="checkbox"].ExpandCheckBox + div.InputFormGroup {
  display          : none;
}
 
input[type="checkbox"].ExpandCheckBox:checked + div.InputFormGroup {
  display          : block;
}

/* 一覧項目の幅制御用 */
/* Modify列 */
.tablecolumn01 {
  width            : 65px;
}

/* Check Sheet No.列 */
.tablecolumn02 {
  width            : 150px;
}

/* Revision No.列 */
.tablecolumn03 {
  width            : 60px;
}

/* Part No.列 */
.tablecolumn04 {
  width            : 150px;
}

/* Part Name列 */
.tablecolumn05 {
  width            : 155px;
}

/* M/C No.列 */
.tablecolumn06 {
  width            : 50px;
}

/* Inspector Code列 */
.tablecolumn07 {
  width            : 70px;
}

/* Inspector Name列 */
.tablecolumn08 {
  width            : 120px;
}

/* Inspection Date列 */
.tablecolumn09 {
  width            : 70px;
}

/* Inspection Time列 */
.tablecolumn10 {
  width            : 65px;
}

/* Progress列 */
.tablecolumn11 {
  width            : 60px;
}

/* Rate列 */
.tablecolumn12 {
  width            : 50px;
}

/* ALL Line Stop列 */
.tablecolumn13 {
  width            : 60px;
}

/* Delete列 */
.tablecolumn14 {
  width            : 60px;
}

/* M/C No.列 */
.tablecolumnMCNo {
  width            : 70px;
}

/* Display Order列 */
.tablecolumnDisplayOrder {
  width            : 50px;
}

/* Machine Name列 */
.tablecolumnMachineName {
  width            : 120px;
}

/* Customer ID列 */
.tablecolumnCustomerID {
  width            : 70px;
}

/* Customer Name列 */
.tablecolumnCustomerName {
  width            : 240px;
}

/* Equipment CD列 */
.tablecolumnEquipmentCD {
  width            : 70px;
}

/* Equipment Name列 */
.tablecolumnEquipmentName {
  width            : 240px;
}

/* User ID列 */
.tablecolumnUserId {
  width            : 70px;
}

/* User Name列 */
.tablecolumnUserName {
  width            : 240px;
}

/* Admin Flg列 */
.tablecolumnAdminiFlg {
  width            : 120px;
}

/* Monitoring Customer Name列 */
.MtablecolumnCustomer {
  width            : 300px;
}

/* Monitoring Part No.列 */
.Mtablecolumn01 {
  width            : 150px;
}

/* Monitoring Part Name列 */
.Mtablecolumn02 {
  width            : 250px;
}

/* Monitoring Machine Name列 */
.Mtablecolumn03 {
  width            : 120px;
}

/* Monitoring Jotai Error列 */
.MtablecolumnJE1 {
  width            : 25px;
}

/* Monitoring TotalError列 */
.MtablecolumnTE {
  width            : 50px;
}

/* 一覧のヘッダと明細のうち、明細だけ右揃えにするための設定 */
.righttext {
  text-align       : right;
}

/* 登録画面の入力フィールドデザイン　TABLEタグ、TRタグ、TDタグで使う */
.InputFormTable {
  font-size        : 12px;
  background-color : #FFFFFF;
  margin           : 5px 2px 1px 2px; /* 左から順に、上、右、下、左 */
  padding          : 1px 5px 1px 5px; /* 左から順に、上、右、下、左 */
  border           : 1px solid #e3e3e3;
  border-radius    : 2px 2px 2px 2px; /* 角の丸みの設定。左から順に、左上、右上、右下、左下 */
}

/* 現在処理中番号を目立たせたい */
.NowNumber {
  font-size        : 18px;
  text-align       : center;
  margin           : 5px 2px 1px 2px; /* 左から順に、上、右、下、左 */
  padding          : 1px 5px 1px 5px; /* 左から順に、上、右、下、左 */
  background-color : #66ffcc;
}

/* 登録画面のNG背景色 */
.NGColor {
  background-color : #ff33ff;
  margin           : 5px 2px 1px 2px; /* 左から順に、上、右、下、左 */
  padding          : 1px 5px 1px 5px; /* 左から順に、上、右、下、左 */
}

/* 登録画面のOFFSET背景色 */
.OFFSETColor {
  background-color : #ffff00;
  margin           : 5px 2px 1px 2px; /* 左から順に、上、右、下、左 */
  padding          : 1px 5px 1px 5px; /* 左から順に、上、右、下、左 */
}

/*.zoom__graph:hover {
   box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 50ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 50ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 50ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 50ms ease-in;
    transform: scale(1.5);
}*/

/** Add more layout for Graph page  **/
.SearchFormGroup__graph {
    background-color: #eaffff;
    margin: 5px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
    border: 1px solid #e3e3e3;
    border-radius: 5px 5px 5px 5px;
    
}
.form__graph {
  /*width: 55%;*/
  /*float: left;*/
}
.image__graph {
  /*width: 40%;*/
  /*float: left;*/
}
.clear {
  clear: both;
}

.control-group {
  margin-bottom: 0;
}